/* ----------------------------------------
* Symbiota Label Generator
* Author: Laura Rocha Prado
* Version: Nov 2020
*-----------------------------------------*/


/* main {
  display: grid;
  grid-template: auto 1fr auto / repeat(2, 1fr);
  grid-gap: 1em;
  align-items: start;
} */

main {
  width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template: auto 1fr auto / repeat(2, 1fr);
  grid-gap: 1em;
  align-items: start;
}

li {
  list-style-type: none;
  display: inline-block;
}


/* #fields {
  grid-column: 1 / 4;
} */

#field-options {
  background-color: white;
  padding: 1em;
}

#field-options>div {
  display: block;
  margin: 1em 0;
}

#build-label {
  background-color: rgb(143, 143, 143);
  /* min-height: 300px; */
  grid-column: 1/2;
  padding: 0.5em;
}

#build-label .delimiter {
  height: 1em;
  /* background-color: white; */
  /* color: black; */
}

#label-header>.header,
.label-header>div,
.label-footer>div {
  display: inline-block;
  padding: 6px;
}

#label-header,
#label-middle,
#label-footer {
  border: 1px solid white;
  margin: 0.5em;
}

#label-header,
#label-footer {
  min-height: 70px;
}

.area-title {
  margin: 0;
  padding-left: 0.25em;
  color: white;
  font-weight: 300;
}

.label-header.content {
  height: 50px;
  width: auto 100%;
  display: flex;
}

.label-header.content>button {
  display: block;
}

#label-middle>.field-block {
  border: 1px dashed white;
  height: 2em;
}

#preview-label {
  border: 1px solid gray;
  min-height: 100px;
}

#preview-label>.field-block>div {
  display: inline;
}


/** Button stuff **/


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

li {
  color: white;
  font-weight: 600;
  font-size: 0.8rem !important;
  background: #a972cb;
  border: 2px solid #a972cb;
  border-radius: 2px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.25em 0.5em;
}

#controls {
  background: darkslategrey;
}

button.control:disabled {
  background: lightgray;
}

button.control:disabled,
button.control[disabled],
button.control:disabled:hover {
  background: lightgray;
}

button.control {
  color: white;
  background: darkslategrey;
  border: none;
  border-right: 1px solid lightslategray;
  /* border-radius: 2px; */
  font: inherit;
  line-height: 1;
  padding: 0.5em;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

button.control:hover {
  background: rgb(61, 102, 102);
  border: none;
  line-height: 1;
  border-right: 1px solid lightslategrey;
  outline: none;
}

button>.material-icons {
  pointer-events: none;
}

.draggable.selected {
  background-color: darkmagenta;
  border: 1px solid darkmagenta;
}

button.control.selected,
button.control.selected:hover {
  background-color: black;
}

.draggable.dragging {
  opacity: 1;
}